RewriteEngine on
RewriteRule imga\/([\w,\-]+)\.(jpg|png|gif)$ bild.php?iurl=$1
RewriteRule snip\/(\d+)$ artikel.php?sid=$1
RewriteRule monat\/(\d{4}\-\d{2})$ artikel.php?monat=$1
RewriteRule artikel\/([\w,\-]+)\.htm$ artikel.php?url=$1
RewriteRule zettel\.php$ artikel.php?aid=1
RewriteRule alle\.php$ index.php?list=alle

